<%= form_for([:admin, @contribution]) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :book %><br />
    <%= f.text_field :book %>
  </div>
  <div class="field">
    <%= f.label :sig %><br />
    <%= f.text_field :sig %>
  </div>
  <div class="field">
    <%= f.label :extra %><br />
    <%= f.text_area :extra %>
  </div>
  <div class="field">
    <%= f.label :wisdom %><br />
    <%= f.text_area :wisdom %>
  </div>
  <div class="field">
    <%= f.label :invitation %><br />
    <%= f.text_field :invitation %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
