            <h1>Welcome</h1>
            
	    <p> <%= Faker::Lorem.paragraph %> </p>
            
            <ul class="homeRight">
            <li>
            	<ul class="hover">
                    <li>
                        <h2>Contribute</h2>
                        <p><img src="/images/placeholder.gif" width="250" height="150" class="left" />
                          <%= Faker::Lorem.paragraph %>
                        </p>
                        <a href="contribute_login_createaccount.html" class="more">Read More &raquo;</a>
                        
                    </li>
                </ul>
            </li>    
            </ul> 
            <ul class="homeLeft">
            <li>
            	<ul class="hover">
                    <li>
                        <h2>Create a Book</h2>
                        <p><img src="/images/placeholder.gif" width="250" height="150" class="left" />
                          <%= Faker::Lorem.paragraph %>
                        </p> <a href="createBook_login.html" class="more">Read More &raquo;</a>
                    </li>                
                </ul>
                <ul class="hover">
                    <li>
                        <h2>See Book Examples</h2>
                        <p><img src="/images/placeholder.gif" width="180" height="150" class="left" />
                          <%= Faker::Lorem.paragraph %>
                        </p>
                        <a href=<%= home_bookExamples_path%> class="more">Read More  &raquo;</a>
                    </li>
                </ul>
            </ul>
