            <h1>Create a Book <span>Who is Your Book For? (Step 1 of 3)</span></h1>

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "fields") %> need attention:</h2>
      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div id="createBook1" style="display: inline;">
        <table cellspacing="1" cellpadding="0" border="0" class="edit">
          <tr>
            <td colspan="2" class="tableHeadColor">
              <!--&nbsp;-->
              <div class="submit">
              <%= button_to_function raw('Continue &raquo;'), "$('createBook1').hide();$('createBook2').show()" %>
              </div>
            </td>
          </tr>
          <tr><td colspan="2" class="requiredKey"><span class="required">* </span>Required </td></tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= f.label :title, "Book Title:" %>
            </td>
            <td class="field">
              <%= f.text_field :title, :maxlength=>'200', :class=>'text' %>
            </td>
          </tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= f.label :subject_name, "Who is your book for?:" %>
            </td>
            <td class="field">
              <%= f.text_field :subject_name, :maxlength=>'200', :class=>'text' %>
            </td>
          </tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= f.label :occasion, "What is the occasion?:" %>
            </td>
            <td class="field">
                <%= f.select(:occasion, [
                  ['--- Select One ---', 'blank'],
                  ['Anniversary', 'Anniversary'],
                  ['Graduation', 'Graduation'],
                  ['Wedding', 'Wedding'],
                  ['New Baby', 'New Baby'],
                  ['Other', 'Other']], {}, {}) %>
            </td>
          </tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= f.label :question, "What question would you like ask?:" %>
            </td>
            <td class="field">
              <%= f.text_field :question, :maxlength=>'200', :class=>'text' %>
            </td>
          </tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= f.label :extra, "In addition to each contributors name, is there anything else you want to know about them?:" %>
            </td>
            <td class="field">
              <%= f.text_field :extra, :maxlength=>'200', :class=>'text' %>
            </td>
          </tr>
          <tr>
            <td class="submit" colspan="2">
              <%= button_to_function raw('Continue &raquo;'), "$('createBook1').hide();$('createBook2').show()" %>
            </td>
          </tr>
        </table>
      </div>

      <div id="createBook2" style="display: none;">
        <table cellspacing="1" cellpadding="0" border="0" class="edit">
          <tr>
            <td colspan="2" class="tableHeadColor">
              <div class="submit">
              <%= button_to_function raw('&laquo; Back'), "$('createBook2').hide(); $('createBook1').show();" %>
              <%= button_to_function raw('Continue &raquo;'), "$('createBook2').hide(); $('createBook3').show();" %>
              </div>
            </td>
          </tr>
          <tr><td colspan="2" class="requiredKey"><span class="required">* </span>Required </td></tr>
          <tr>
            <td class="label">
              <span class="required">* </span>
              <%= label_tag "Please Select a Theme:" %>
            </td>
            <td class="field">
              <div style="float:right;display:inline;width:300px;height:200px;background: url(../images/placeholder.gif);border:1px solid #ccc;text-align:center;padding-top:150px;">[preview panel]</div>                
                <ul>
                  <% for t in Theme.all %>
                    <li>
                      <%= f.radio_button :theme_id, t.id %>
                      <%= f.label(:theme_id, t.name, :value=>t.id) %>
                    </li>
                  <% end %>
                </ul>
            </td>
          </tr>
          <tr>
            <td class="submit" colspan="2">
              <%= button_to_function raw('&laquo; Back'), "$('createBook2').hide(); $('createBook1').show();" %>
              <%= button_to_function raw('Continue &raquo;'), "$('createBook2').hide(); $('createBook3').show();" %>
            </td>
          </tr>
        </table>
      </div>

      <div id="createBook3" style="display: none;">
        <table cellspacing="1" cellpadding="0" border="0" class="edit">
          <tr>
            <td colspan="2" class="tableHeadColor">
              <div class="submit">
              <%= button_to_function raw('&laquo; Back'), "$('createBook3').hide(); $('createBook2').show();" %>
              <%= f.submit raw("Submit &raquo;") %>
              </div>
            </td>
          </tr>
          <tr><td colspan="2" class="requiredKey"><span class="required">* </span>Required </td></tr>
          <tr>
            <td class="label">
              <%= f.label :preface_include, "The following pages are optional additions to your book. Please check those that you would like to include. You may add content now or at a later time:" %>
            </td>
            <td class="field">
              <%= f.check_box :preface_include %>
              <%= f.label :preface_include, 'Preface' %>
              &nbsp;&nbsp;&nbsp;<a href="">View Samples &raquo; </a>
              <br />
              <%= f.text_area :preface, :rows=>'6', :class=>'text' %>
              <br />
              <br />

              <%= f.check_box :dedication_include %>
              <%= f.label :dedication_include, 'Dedication' %>
              &nbsp;&nbsp;&nbsp;<a href="">View Samples &raquo; </a>
              <br />
              <%= f.text_area :dedication, :rows=>'6', :class=>'text' %>
              <br />
              <br />

              <%= f.check_box :epilogue_include %>
              <%= f.label :epilogue_include, 'Epilogue (Afterword)' %>
              &nbsp;&nbsp;&nbsp;<a href="">View Samples &raquo; </a>
              <br />
              <%= f.text_area :epilogue, :rows=>'6', :class=>'text' %>
              <br />
              <br />

              <%= f.check_box :contributors_list_include %>
              <%= f.label :contributors_list_include, 'List of Contributors' %>
              <p class="note">* Contributors list page will be automatically generated.</p>
            </td>
          </tr>
          <tr>
            <td class="submit" colspan="2">
              <%= button_to_function raw('&laquo; Back'), "$('createBook3').hide(); $('createBook2').show();" %>
              <%= f.submit raw("Submit &raquo;") %>
            </td>
          </tr>
        </table>
      </div>
  <p class="note" style="float:left;display:inline;margin:0;">You will be able to edit these settings at any time from your book management page.</p>
<% end %>

