
<%= link_to 'Your Account', account_path(@account), :class=>'right' %>

<h1>Manage Book  &raquo; <span>'Sample Book Title'</span></h1>            


<div class="contributorsTable">

    <ul class="contributorsOptions">   
        <li><h3>Contributor Statistics</h3>
                    <p>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie. Proin  sit amet auctor quis ...</p>
            <a href="manageBook_contributorStatistics.html" />Contributor Statistics &raquo;</a>
        </li>   
        <li><h3>Book Settings &amp; Invitations</h3>
        <div class="bookOptions">
          <%= button_to raw('General Book Settings &raquo;'), {:action=>:edit}, {:class=>'pages', :method=>:get} %>
        </div>
          <div class="bookOptions"><input id="apply" name="apply" type="submit"onClick="window.location.href='account_invite1.html'"  value="Invite Contributors &raquo;" class="pages" />
              <div class="bookOptions">
                <input id="apply2" name="apply2" type="submit"onclick="window.location.href='account_editPreferences.html'"  value="Reminders & Notifications &raquo;" class="pages" />
              </div>
            </div>                   
        </li>  
        <li class="bookOptions"><h3>Finalize Book</h3>
            <input id="apply" name="apply" type="submit" value="Preview Book &raquo;" />                   
                    <input id="apply" name="apply" type="submit" value="Finalize &amp; Order Copies &raquo;" />
        </li>   
        <!--             
        <li><h3>Email Contributors</h3>
                    <p>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie. Proin ante mi, auctor quis ...</p>                                      
            <a href="manageBook_emailContributors.html" />Email Contributors &raquo;</a>
        </li>
                           
        <li><h3>Compose &amp; Send Invitations</h3>
                    <p>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie. Proin ante mi, ultrices sit quis ...</p>                      
            <a href=" account_createBook5.html" />Compose &amp Send Invites &raquo;</a>                     
        </li>     
         -->                           
    </ul> 
    
    
     <!--
    <div class="sideBar"> 
            <div class="bookOptions"><input id="apply" name="apply" type="submit" value="Preview Book &raquo;" /></div>                     
            <div class="bookOptions"><input id="apply" name="apply" type="submit" value="Order Copies &raquo;" /></div> 
       
        <div class="horizontalDivider"></div>
        <div class="bookOptions"><input id="apply" name="apply" type="submit"onClick="window.location.href='account_createBook1.html'"  value="Change Book Deadline &raquo;" class="pages" /></div> 
        <div class="bookOptions"><input id="apply" name="apply" type="submit"onClick="window.location.href='account_createBook2.html'"  value="Change Book Theme &raquo;" class="pages" /></div> 
        <div class="bookOptions"><input id="apply" name="apply" type="submit"onClick="window.location.href='account_createBook3.html'"  value="Edit Optional Pages &raquo;" class="pages" /></div> 
       
            </div>  
     -->
    <div class="clear"></div>
 
    <h3>Add/Manage Contributions</h3>   
    
    <div class="pagination bottom"><!--<a href="">&laquo; Back</a>--><a href="" class="current">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">Next &raquo;</a>&nbsp;&nbsp;<a href="">View All</a></div>       
            
    <table cellspacing="1" cellpadding="0" border="0" class="edit">            
    <tr>
        <td colspan="4" class="tableHeadColor">Contributors: 26
        <div class="addEntry">   
            <!--<a href="manageBook_contributorImport.html" title="Import Contributors">Import Contacts or Add New Contributor &raquo;</a> -->                                                
            <a href="manageBook_emailContributors.html" />Email Contributors &raquo;</a> <a href="manageBook_contributionAdd.html" title="Add Contributor">Add Contribution &raquo;</a>                                                
        </div>
        </td>
    </tr>     
    <tr>
        <th class="date" style="width:80px;"><a href=""><img src="images/icon_sort.gif" />Added</a></th>
        <th class="type" style="width:200px;"><a href=""><img src="images/icon_sort.gif" />Contributor</a></th>
        <th class="type" style="width:250px;">Contribution</th>
        <th style="width:100px;"></th>
     </tr>
     <tr class="alternate">
        <td>2009-07-15</td>
        <td>FirstName LastName</td>
        <td>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie ...</td>       
        <td class="center"><a href="manageBook_contributionEdit.html">Edit</a> | <a href="" onclick="return confirm('Do you really want to delete this contribution?')" title="Delete Item">Delete</a></td> </tr>
     <tr>
        <td>2009-07-15</td>
        <td>FirstName LastName</td>
        <td>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie ...</td>       
        <td class="center"><a href="manageBook_contributionEdit.html">Edit</a> | <a href="" onclick="return confirm('Do you really want to delete this contribution?')" title="Delete Item">Delete</a></td> </tr>
     <tr class="alternate">
        <td>2009-07-15</td>
        <td>FirstName LastName</td>
        <td>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie ...</td>       
        <td class="center"><a href="manageBook_contributionEdit.html">Edit</a> | <a href="" onclick="return confirm('Do you really want to delete this contribution?')" title="Delete Item">Delete</a></td> </tr>
     <tr>
        <td>2009-07-15</td>
        <td>FirstName LastName</td>
        <td>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie ...</td>       
        <td class="center"><a href="manageBook_contributionEdit.html">Edit</a> | <a href="" onclick="return confirm('Do you really want to delete this contribution?')" title="Delete Item">Delete</a></td> </tr>
     <tr class="alternate">
        <td>2009-07-15</td>
        <td>FirstName LastName</td>
        <td>Proin malesuada volutpat luctus. Nullam id orci metus. Maecenas dictum sapien a libero porttitor ut molestie felis molestie ...</td>       
        <td class="center"><a href="manageBook_contributionEdit.html">Edit</a> | <a href="" onclick="return confirm('Do you really want to delete this contribution?')" title="Delete Item">Delete</a></td> </tr>                
    </table>
    
    <div class="pagination bottom"><!--<a href="">&laquo; Back</a>--><a href="" class="current">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">Next &raquo;</a>&nbsp;&nbsp;<a href="">View All</a></div>
  
    </div>
      
                       
    </div>

<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @book.account %>
</p>

<p>
  <b>Subject:</b>
  <%= @book.subject %>
</p>

<p>
  <b>Theme:</b>
  <%= @book.theme %>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Occasion:</b>
  <%= @book.occasion %>
</p>

<p>
  <b>Question:</b>
  <%= @book.question %>
</p>

<p>
  <b>Extra:</b>
  <%= @book.extra %>
</p>

<p>
  <b>Preface:</b>
  <%= @book.preface %>
</p>

<p>
  <b>Dedication:</b>
  <%= @book.dedication %>
</p>

<p>
  <b>Epilogue:</b>
  <%= @book.epilogue %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
