                 <p id="notice"><%= notice %></p>
            
                 <h1>Your Contribution <span> to '<%= @contribution.book.title %>' </span></h1>  
            
          <table cellspacing="1" cellpadding="0" border="0" class="edit">            
            <tr><td colspan="2" class="tableHeadColor">&nbsp;</td></tr>    
            <tr>                       
               <td class="field" colspan="2">
                 <p><%= @contribution.wisdom %></p>
               <p class="sig"><%= @contribution.sig %></p>
               <p class="sig"><%= @contribution.extra %></p></td>
           </tr>  
            <tr>
            <td class="submit" colspan="2">
            <%= link_to("Back to Your Account", @contribution.account) %>
          </td>
            </tr>   
            </table>  
