<!DOCTYPE html>
<html>
<head>
  <title>The Wisdom of Others</title>
    <!--meta-->
    <meta name="keywords" content="">
    <meta name="description" content="">
	    
    <!--favicon-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>

     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

 <div id="wrapper"><!---wraps entirety, defines width and margins for site--->

    <!---mast graphic, link--->
    <ul class="logOut">            	
      <li class="admin"><%= link_to('Admin [temporary]', accounts_path) %></li>
<% if user_signed_in? %>
      <li><%= link_to('Your Account', current_user.account, :class=>"current") %></li>
      <li><%= link_to('Sign Out', destroy_user_session_path) %></li>
<% else %>
      <li><%= link_to('Register', new_user_registration_path) %></li>
      <li><%= link_to('Sign In', new_user_session_path) %></lib>
<% end %>
    </ul>     
    
    <div id="header">
      <div class="title">
        <%= link_to 'The Wisdom of Others', home_index_path, :title=>"home" %>
      </div>
      <ul class="actionItems">
          <li></li>
      </ul>   
    </div>
    <!--END header-->

    <!---start navigation--->
    <div id="menu">            
            <ul class="topNav">
              <li><%= link_to 'Home', home_index_path %></li>  
              <li><%= link_to 'Book Examples', home_bookExamples_path %></li> 
              <li><%= link_to 'How It Works', home_howItWorks_path %></li>
              <li><%= link_to 'FAQs', home_faqs_path %></li>
              <li><%= link_to 'Pricing &amp; Shipping', home_pricingAndShipping_path %></li>                
              <li><%= link_to 'Our Story', home_ourStory_path %></li>
              <li><%= link_to 'Our Giving', home_ourGiving_path %></li>
            </ul>        
    </div>
    <!---end navigation--->	

  <div id="changingContent">		
    <%= yield %>
  </div>

  <!---start footer--->
  <div id="footer">
    <ul class="footerLinks">
            	<li><%= link_to 'contact us', home_contactUs_path %></li>
                <li> | </li>
            	<li><%= link_to 'privacy policy', home_privacyPolicy_path %></li>
                <li> | </li>
            	<li><%= link_to 'terms of use', home_terms_path %></li>
                <li> | </li>
            	<li><%= link_to 'our guarantee', home_ourGuarantee_path %></li>
    </ul>
    <span class="copyright">&copy 2011 The Wisdom of Others</span>
  <!--END footer-->

 </div>
 <!-- END wrapper->
</body>
</html>
