<h1>Your Account</h1>
<div class="booksTable medium">
  <h2>Your Books</h2>   
  <h3>Books you've created
    <div class="addEntry">
      <%= link_to raw("Create A New Book &raquo;"), new_book_path, :title=>"Create A New Book" %>
    </div>
  </h3>

  <table id="tableBooksCreated" cellspacing="1" cellpadding="0" border="0" class="edit medium">
    <thead>
      <tr>
        <th class="date" style="width:100px;"><button onClick="sortBooksCreated(byModified)"><img src="/images/icon_sort.gif" />Modified</button></th>
        <th class="type" style="width:270px;"><img src="/images/icon_sort.gif" onClick="sortBooksCreated(byTitle)" />Book Title</th>
        <th class="date" style="width:100px;"><a href="#" onClick="sortBooksCreated(byStatus)"><img src="/images/icon_sort.gif" />Print Status</a></th>                    
        <th style="width:100px;">Contributors</th>
    </tr>                
    </thead>
  <tbody id="tbodyBooksCreated">
  </tbody>
   </table>         
</div>

<div class="booksTable medium">
  <h2>Your Contributions</h2>

  <div class="tableHeadColor list" style="float:left;display:inline;width:300px;font-weight:bold;">Books You've Been Invited to Contribute To</div>
    <table id="tableContributions" border="0" cellpadding="0" cellspacing="1" class="edit medium">
      <!-- was: width="124" height="178"-->
      <thead>
	<tr>
          <th width="119" class="date" style="width:100px;"><div align="justify"><button onClick="sortContributions(byContributed)"><img src="/images/icon_sort.gif" />Contribution Date</button></div></th>
          <th width="181" class="type" style="width:160px;"><a href="#" onClick="sortContributions(byTitle)"><img src="/images/icon_sort.gif" />Book Title</a></th>
          <th width="114" class="date" style="width:90px;"><a href="#"><img src="/images/icon_sort.gif" />Contribution</a></th>
          <th width="124" class="date" style="width:110px;"><a href="#" onClick="sortContributions(byStatus)"><img src="/images/icon_sort.gif" />Print & Ship Status</a></th>   
          <th width="118" class="date" style="width:100px;"><a href="#"><img src="/images/icon_sort.gif" />Purchase</a></th>
        </tr>
      </thead>
      <tbody id="tbodyContributions">
      </tbody>
    </table>            
  </div>
    
    <div class="nodivider">&nbsp;</div>

    <div class="sideBar">
      <h2>Your Profile</h2>

      <ul class="account">
          <li><a href="account_updateEmail.html">Update Email &raquo;</a></li>
          <li><a href="account_updatePassword.html">Update Password  &raquo;</a></li>
      </ul>
      <ul class="account">
        <li><a href="account_deleteAccount.html">Delete Account &raquo;</a></li>
        <li></li>
      </ul>
    </div>


</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Terms:</b>
  <%= @account.terms %>
</p>

<p>
  <b>User:</b>
  <%= @account.user_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>

<script type="text/javascript" src="../javascripts/js/account.js">
</script>
  <script type="text/javascript">

//// GLOBALS
var jsSortReversed = false;

// Table data
var jsBooksCreated = new Array();
var jsContributions = new Array();

jsBooksCreated[0] = {id: '',
  title:'<%= Faker::Lorem.words(3).join(" ") %>',
  modified: '<%= Time.now %>', 
  num_contributions: '0',
  status: 'Printed'};
jsBooksCreated[1] = {id: '',
  title:"Uruguay", modified:1930,
  num_contributions: '0',
  status: 'Not Printed'};
jsBooksCreated[2] = {id: '',
  title:"France", modified:1938,
  num_contributions: '0',
  status: 'Not Printed'};
jsBooksCreated[3] = {id: '',
  title:"Brazil", modified:1950,
  num_contributions: '0',
  status: 'Printed'};
jsBooksCreated[4] = {id: '',
  title:"Switzerland", modified:1954,
  num_contributions: '0',
  status: 'Printed'};
<% for book in @account.books %>
jsBooksCreated.push({
  id: '<%= book.id %>',
  title: '<%= book.title %>',
  modified: '<%= Time.now %>',
  num_contributions: '<%= book.contributions.length %>',
  status: 'Not Printed'
});
<% end %>

jsContributions[0] = {title:'<%= Faker::Lorem.words(3).join(" ") %>',
  contributed: '<%= Time.now %>', 
  book_id: -1,
  contr_id: -1,
  status: 'Printed'};
jsContributions[1] = {title:"Uruguay", contributed:1930,
  book_id: -2,
  contr_id: -1,
  status: 'Not Printed'};
jsContributions[2] = {title:"France", contributed:1938,
  book_id: -3,
  contr_id: -1,
  status: 'Not Printed'};
jsContributions[3] = {title:"Brazil", contributed:1950,
  book_id: -1,
  contr_id: -1,
  status: 'Printed'};
jsContributions[4] = {title:"Switzerland", contributed:1954,
  book_id: -2,
  contr_id: -1,
  status: 'Printed'};
<% for contrib in @account.contributions %>
jsContributions.push({
  title: '<%= contrib.book.title %>',
  contributed: '<%= Time.now  %>',
  book_id: '<%= contrib.book.id %>',
  contr_id: '<%= contrib.id %>',
  status: 'Book|PDF'});
<% end %>

function start()
{
  //alert("bye");
  drawTables();
}
  </script>
