            <h1>Register An Account</h1> 
            
            <p><%= Faker::Lorem.paragraph 3 %></p>           
            
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

      <table cellspacing="1" cellpadding="0" border="0" class="edit small">
        <tr>
          <td colspan="2" class="tableHeadColor">
            New Account Registration
          </td>
        </tr>
        <tr>
          <td colspan="2" class="requiredKey">
            <span class="required">* </span>
            Required
          </td>
        </tr>

       	<tr>
          <td class="label">
            <span class="required">* </span>
<%= f.label :email, 'Email Address:' %>
          </td>
          <td class="field">
<%= f.email_field :email, :maxlength=>"200", :class=>"smallText" %>
          </td>
        </tr>
        <tr>
          <td class="label">
            <span class="required">* </span>
<%= f.label :password, 'Password:' %>
          </td>
          <td class="field">
<%= f.password_field :password, :maxlength=>"200", :class=>"smallText" %>
          </td>
        </tr>
        <tr>
          <td class="label">
            <span class="required">* </span>
<%= f.label :password_confirmation, 'Verify Password:' %>
          </td>
          <td class="field">
<%= f.password_field :password_confirmation, :maxlength=>"200", :class=>"smallText" %>
          </td>
        </tr>
        <tr>
          <td class="submit" colspan="2">
            <%= f.submit "Submit" %>
          </td>
        </tr>  
<% end %>
      </table>
            
      <div style="float:left;display:inline;width:400px;margin-left:25px;">
        <h2><%= Faker::Lorem.sentence %></h2>
        <p><%= Faker::Lorem.paragraph 17 %></p>
            
      </div>
